# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Data files
data/*.csv
data/*.wav
data/*.mp3

# Saved models
saved_models/*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db
