# Ignore raw data files and large files
data/
*.wav
*.mp3
*.zip
*.tar
*.tar.gz
*.h5
*.pkl

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store

# Virtual env
.env/
venv/
